*{
    /*border: 1px solid white;*/
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    height: 100vh;
    background: #1F343F;
    background-repeat: no-repeat;
}

header{
    margin-top: 0;
    padding-top: 30px;
    color: white;
}

main{
    margin: auto;
    margin-top: 7vh;
    height: 400px;
    width: 50%;
    background-color: #355A6C;
    border: 2px solid black;
    border-radius: 20px;

}

h1{
    text-align: center;
    font-size: 60px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    border: 2px solid black;
    border-radius: 20px;
}

#target{
    width: 100%;
    height: 300px;
}

.icon{
    font-size: 100px;   /*only with sm works??*/
}

input[type="button"]{
    background-color: white;
    width: 200px;
    height: 75px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 5px black;
}

input[type="button"]:active{
    box-shadow: none;
    position: relative;
    top: 5px;
    background-color: #dddddd;
}

.yellow{
    color: yellow;
}

.blue{
    color: darkblue;
}

.white{
    color: white;
}

.iconContainer{
    font-size: 40px;
    width: 150px;
    height: 150px;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.stylingBox{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

